## Quick start with Sylphy library

This notebook will demonstrate how to use the sylphy library for enconding and visualize the data encoded or represented numerically.

- Creating a fake dataset with small sequences

In [11]:
import pandas as pd 
from sylphy.sequence_encoder import OneHotEncoder
from sylphy.sequence_encoder import OrdinalEncoder
from sylphy.sequence_encoder import PhysicochemicalEncoder
from sylphy.sequence_encoder import FFTEncoder
from sylphy.sequence_encoder import KMersEncoders

In [4]:
data_sequences = [
    {"id_seq": 1,
     "sequence": "AFTGTGGGSSGHYT"},
     {"id_seq": 2,
     "sequence": "LPLPLKKLKMMNVN"},
     {"id_seq": 3,
     "sequence": "SASDRRDDQWSED"}
]

df_sequences = pd.DataFrame(data_sequences)
df_sequences

   id_seq        sequence
0       1  AFTGTGGGSSGHYT
1       2  LPLPLKKLKMMNVN
2       3   SASDRRDDQWSED

- Starting with Sylphy to produce a numerical representation based on encoder methods

In [10]:
from sylphy.sequence_encoder import OneHotEncoder
one_hot_encoder = OneHotEncoder(
    dataset=df_sequences,
    sequence_column="sequence",
    max_length=20,
    debug=True)

one_hot_encoder.run_process()
one_hot_encoder.coded_dataset

,p_0,p_1,p_2,p_3,p_4,p_5,p_6,p_7,p_8,p_9,...,p_391,p_392,p_393,p_394,p_395,p_396,p_397,p_398,p_399,sequence
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AFTGTGGGSSGHYT
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,LPLPLKKLKMMNVN
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,SASDRRDDQWSED